#main {
    background: black;
    padding: 20px;
    border-radius: 40px;
    width: 220px;
    height: 330px;
    display:grid;
    place-content: center;
    justify-self: center;
}
#input{
    margin-bottom: 10px;
}
#myInput{
    text-align: center;
    padding: 5px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 40px;
    border-radius: 20px;
}
#zero,#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#power,#dot{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: #2e2f2f;
    color: white;
    font-size: 20px;
}
#division,#multiplication,#equal,#minus,#plus {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100px;
    background-color: #ff9200;
    color: white;
    font-size: 20px;
}
#ac,#del,#percent {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100px;
    background-color: #5b5b5b;
    color: white;
    font-size: 20px;
}

